@model List<KoreaOnly.CheapFlights>


@if (Model == null || Model.Count == 0)
{
    <h2 class="text-center">No Flight Found...</h2>
}

@foreach (var item in Model)
{

    @*<div class="col-sm-3 col-md-3">
            <div class="thumbnail cheapflightsbox" data-flightOrigin="@item.AirportNameOrigin()" data-flightDestination="@item.AirportNameDestination()" data-Airline="@(item.AirlineCode + " " + item.AirlineName() )" data-Date="@item.DepartureDate" data-Price="@item.Price" data-id="@item.ID">
                @*<img src="@item.Picture" alt="@item.AirportCode">
                @*<div class="caption">
                        <p class="cheap-flights-city">@(item.Name())</p>
                    </div>

                <div class="caption">

                    <p class="cheap-flights-city">
                        <img src="~/Images/Airlines/@(item.AirlineCode).png" style="text-align:left;border:1px solid; padding:2px;" width="30" height="30" />
                        @item.DepartureCode - @item.AirportCode

                        <span class="cheap-flights-city" style="font-size:14px;color:gray;">( @(Convert.ToDateTime(item.DepartureDate).ToString("MMM-dd")) )</span>
                    </p>


                    <p class="text-left" style="margin:5px 0px;padding:10px 0px;">
                        <span class="cheap-flights-city " style="font-size:15px;color: white;padding: 10px;background: #287490;">$@item.Price</span>
                        <span class="cheap-flights-city cheap-price" style="font-size:15px;color: white;padding: 10px;background: #287490;">Select</span>
                    </p>

                    @*<p class="cheap-flights-city"><b>From    : </b> @item.NameOrigin()</p>
                        <p class="cheap-flights-city"><b>To      : </b> @item.NameDestination()</p>
                        <p class="cheap-flights-city"><b>Airline : </b> @item.AirlineName()</p>
                        <p class="cheap-flights-city"><b>Date    : </b> @item.DepartureDate</p>
                        <p class="cheap-flights-city"><b>Price   : </b> $@item.Price</p>
                </div>

            </div>
        </div>*@

    @*<div class="col-sm-4 col-md-4 cheapflightsbox " style="margin:5px 0px;" data-flightOrigin="@item.AirportNameOrigin()" data-flightDestination="@item.AirportNameDestination()" data-Airline="" data-Date="@item.DepartureDate" data-Price="@item.Price" data-id="@item.ID">

            <div style="display:flex; padding:10px;border:1px solid #1f4d65; ">
                <div class="col-sm-1 col-md-1" style="padding:0px;margin:0px 5px;">
                    <img src="~/Images/Airlines/@(item.AirlineCode).png" style="text-align:left;border:1px solid #1f4d65; padding:2px;" width="40" height="40" />
                </div>

                <div class="col-sm-8 col-md-8" style="padding:0px 5px;vertical-align:middle;">
                    <p class="cheap-flights-city" style="font-size:1em;">@item.AirlineName()</p>
                    @*<p class="cheap-flights-city" style="font-size:1em;">(@item.DepartureCode) @item.NameOrigin().Split(',')[0] - (@item.AirportCode) @item.NameDestination().Split(',')[0]</p>
                    <p class="cheap-flights-city" style="font-size:0.9em;">@item.DeptShortName - @item.ArrvShortName</p>


                    <p class="cheap-flights-city" style="font-size:14px;color:gray;">From @(Convert.ToDateTime(item.DepartureDate).ToString("MMM dd yyyy"))</p>
                </div>
                <div class="col-sm-2 col-md-2 cheap-flights-city" style=" text-align:center;margin:20px auto;">
                    <span style="vertical-align:middle;">$@(item.Price)</span>
                </div>

                <div class="col-sm-1 col-md-1 cheap-flights-city" style="text-align:center;margin:15px auto 0px auto;">
                    <i class="fa fa-caret-right" style="font-size:30px;" />
                </div>
            </div>

        </div>*@

    @*<div class="col-sm-12 col-xs-12 col-md-6 cheapflightsbox " style="    margin: 10px 0px 20px 0px;" data-flightOrigin="@item.AirportNameOrigin()" data-flightDestination="@item.AirportNameDestination()" data-Airline="" data-Date="@(Convert.ToDateTime(item.DepartureDate).ToString("MM-dd-yyyy"))" data-Price="@item.Price" data-id="@item.ID">

            <div style="display:flex; padding:10px;border:1px solid #1f4d65; background: url(/Images/Airlines/@(item.AirlineCode).png) no-repeat right 15px top 10px;">
                @*<div class="col-sm-1 col-md-1" style="padding:0px;margin:0px 5px;">
                    <img src="~/Images/Airlines/@(item.AirlineCode).png" style="text-align:left;border:1px solid #1f4d65; padding:2px;" width="40" height="40" />
                </div> -- comment

                <div class="col-sm-12 col-md-12" style="padding:0px 5px;vertical-align:middle;">
                    <p class="cheap-flights-city" style="font-size:1em;">@item.AirlineName()</p>
                    @*<p class="cheap-flights-city" style="font-size:1em;">(@item.DepartureCode) @item.NameOrigin().Split(',')[0] - (@item.AirportCode) @item.NameDestination().Split(',')[0]</p> --comment
                    <p class="cheap-flights-city" style="font-size:0.9em;"><a href="/Search/Flight/@item.DeptShortName/@item.ArrvShortName/cheap-flight-from-@item.AirportNameOrigin().Split(',')[0]-to-@item.AirportNameDestination().Split(',')[0]"></a>@item.DeptShortName - @item.ArrvShortName</p>


                    <p class="cheap-flights-city" style="font-size:14px;color:gray;">From @(Convert.ToDateTime(item.DepartureDate).ToString("MMM dd yyyy"))</p>
                    <p class="cheap-flights-city" style="font-size:18px;display: block;position: absolute;right: 0;background-color: white;padding: 5px;border: 1px solid;"><span>$@(item.Price.Split('.')[0])</span><span style="font-size: 13px;vertical-align: top;">@(item.Price.Contains(".") ? "." + item.Price.Split('.')[1] : "")</span></p>
                </div>

                @*<div class="col-sm-2 col-md-2 cheap-flights-city" style=" text-align:center;margin:20px auto;">
                    <span style="vertical-align:middle;">$@(item.Price)</span>
                </div>----commentent

                @*<div class="col-sm-1 col-md-1 cheap-flights-city" style="text-align:center;margin:15px auto 0px auto;">
                    <i class="fa fa-caret-right" style="font-size:30px;" />
                </div> -- comment
            </div>

        </div>*@


    <div class="col-md-4 col-sm-12 col-xs-12" style="margin:5px  0px">

        <a href="/Search/Flight/@item.DeptShortName/@item.ArrvShortName/cheap-flight-from-@item.AirportNameOrigin().Split(')',',')[1].Trim().Replace(" ","-").Replace("--","-")-to-@item.AirportNameDestination().Split(')',',')[1].Trim().Replace(" ","-").Replace("--","-")">
            <div class="CardImagetitle" style="background: url(/Images/Airlines/@(item.AirlineCode).png) no-repeat right 15px bottom 20px rgba(0,0,0,0.7);">

                <span style="font-size:14px;"><i class="material-icons" style="color:#fff;font-size:20px;">flight_takeoff</i> <span style="font-weight:bold">@item.AirportNameOrigin().Split(')', ',')[1], @item.DeptShortName </span>  <span style="font-weight:bold"> @item.AirportNameDestination().Split(')', ',')[1], @item.ArrvShortName</span><br /></span>
                <span style="color:white;font-weight:bold;">@item.AirlineName() </span><br />
                <span style="color:grey;font-weight:bold;font-size:14px;">From @(Convert.ToDateTime(item.DepartureDate).ToString("MMM dd, yyyy"))</span><br /><br/>
                <span style="color:white;font-weight:bold;">$ @(item.Price.Split('.')[0])</span><span style="font-size: 13px;vertical-align: top;color:#fff;">@(item.Price.Contains(".") ? "." + item.Price.Split('.')[1] : "")</span>
            </div>

            <img style="border: 1px solid black;" src="@Url.Action("Thumbnail", "Index", new {FileName="~/Locations/"+ item.ArrvShortName +".jpg", W=400, H=400}) " />

        </a>
    </div>


}
