@model List<KoreaOnly.Models.ContactInfoModel>

@{
    ViewBag.Title = "ContactInfo";
    Layout = "~/Views/Default.cshtml";
}

<script>



    $(function () {

        var dateFormat = "mm/dd/yy",
            from = $("#DateofB")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                minDate: 0,
                numberOfMonths: 2
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            })
    });

</script>

<style>
    .errorText {
        font-size: 12px;
        color: red;
    }

    .col-md-4, .col-md-3, .col-md-2 {
        margin-bottom: 20px;
    }

    hr {
        border-top: 1px solid #ccc4c4;
    }

    label {
        color: #474747;
    }

    .row {
        margin-top: 20px;
    }

    .btn-primary {
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
        width: 100%;
        border-radius: 0px;
        padding: 10px;
        background-color: #4791d5;
        border-width: 0px;
    }

        .btn-primary:hover {
            background-color: #f72615;
        }

    .Flight_Details {
        padding: 10px;
        background-color: #4791d5;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .Flight_More_info {
        border-top: 1px solid #fff;
        padding-top: 20px;
        text-align: left;
    }

    .Fare_Info {
        margin-top: 20px;
        padding: 10px;
        background-color: #4791d5;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .Baggage_Details {
        margin-top: 20px;
        padding: 10px;
        background-color: #4791d5;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .IMportant {
        margin-top: 20px;
        padding: 10px;
        background-color: #4791d5;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
</style>

<div class="clearfix"></div>
<div class="row">

    <div class="col-md-12">
        <div class="col-md-4">
            <div class="row">
                <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Review Your Selection and Price</h2>
                <hr style="margin-top: 9px;margin-bottom: 10px;" />

                <div class="col-md-12">

                    <div class="Flight_Details" data-toggle="collapse" data-target="#Flight_More_info">

                        <p>Flight Details</p>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (i == 1 && Model.Count == 2)
                            {
                                <p><i class="fa fa-plane fa-rotate-270"></i>&nbsp;&nbsp;Return --- @Model[i].From&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;&nbsp;@Model[i].TO&nbsp;&nbsp;@(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("MMM")) @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("dd"))  @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("hh:mm"))</p>
                            }
                            else
                            {
                                <p><i class="fa fa-plane"></i>&nbsp;&nbsp;Depart --- @Model[i].From&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;&nbsp;@Model[i].TO&nbsp;&nbsp;@(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("MMM")) @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("dd"))  @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("hh:mm"))</p>
                            }
                        }
                        <p class="small" style="cursor: pointer;">(Click To See Your Flight Details)</p>

                    </div>
                    <div id="Flight_More_info" class="Flight_More_info collapse">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (i == 1 && Model.Count == 2)
                            {
                                <p style="font-weight:bold;"><i class="fa fa-plane fa-rotate-270"></i>&nbsp;&nbsp;Return</p>
                            }
                            else
                            {
                                <p style="font-weight:bold;"><i class="fa fa-plane"></i>&nbsp;&nbsp;Departure</p>
                            }

                            <table class="table table-bordered c-passenger-table" style="background-color:#4791d5;font-size: 13px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table class="table table-bordered c-passenger-table" style="background-color:white;color:#474747;font-weight:normal;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 70px" class="small">Flight#</td>
                                                        <td>@string.Format("{0}{1}", Model[i].Marketing_Airline, Model[i].FlightNo)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-plane"></i> <br>Take-off</td>
                                                        <td>
                                                            @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("MMM")) @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("dd"))  @(Convert.ToDateTime(Model[i].Take_Off_DateTime).ToString("hh:mm"))<br> @Model[i].Take_Off_Location_Airport <br> @Model[i].Take_Off_Location_City
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-plane fa-rotate-90"></i><br> Landing</td>
                                                        <td>
                                                            @(Convert.ToDateTime(Model[i].Landing_DateTime).ToString("MMM")) @(Convert.ToDateTime(Model[i].Landing_DateTime).ToString("dd"))  @(Convert.ToDateTime(Model[i].Landing_DateTime).ToString("hh:mm"))<br />
                                                            <strong>Terminal-:</strong>
                                                            @(Model[i].Landing_Location_Terminal)
                                                            <br>
                                                            @Model[i].Landing_Location_Airport <br> @Model[i].Landing_Location_City
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <strong>Duration-:</strong>
                                            @Model[i].Mix_Duration &nbsp;|
                                            <strong>Equipment Type:</strong>
                                            @Model[i].Equipment_Type &nbsp;|
                                            &nbsp;
                                            <strong>Air Miles-:</strong>
                                            @Model[i].Air_Miles&nbsp;|
                                            &nbsp;<strong>Operating Airline-:</strong>
                                            @Model[i].Operating_Airline&nbsp; @Model[i].Operating_Airline_CompanyName |
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        }

                    </div>


                    <div class="Fare_Info" data-toggle="collapse" data-target="#Fare_Info">

                        <p>Fare Info</p>

                        <p class="small" style="cursor: pointer;">(Click To See Your Fare Details)</p>

                        <div id="Fare_Info" class="Fare_More_Info collapse in">
                            <table class="table table-bordered c-passenger-table" style="font-weight:normal;background-color:white;color:#474747;    font-size: 14px;">
                                <thead>
                                    <tr>
                                        <th class="small">Passengers</th>
                                        <th class="small">Base Fare</th>
                                        <th class="small">Tax</th>
                                        <th class="small">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ decimal TotalFarePrice = 0;}
                                    @foreach (var Price in (List<FarePrice>)Session["Prices"])
                                    {
                                        <tr>
                                            <td>
                                                @Price.PassengerName.ToString()&nbsp;x&nbsp; @Price.NoOfPassenger
                                            </td>
                                            <td>@Price.BaseFare</td>
                                            <td>@Price.Tax</td>
                                            <td>@Price.TotalAmount</td>
                                        </tr>

                                        TotalFarePrice += Convert.ToDecimal(Price.TotalAmount);

                                    }
                                </tbody>
                            </table>

                            <div class="center" style="margin-bottom: 10px;">
                                <br>
                                Total Fare: $@TotalFarePrice
                                <br>
                                Service Charge: $0.00
                            </div>
                            <div>
                                <div class="center" style="margin-bottom: 10px;">
                                    <span class="font-xl">
                                        Total Price: $@TotalFarePrice
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="Baggage_Details" data-toggle="collapse" data-target="#Baggage_Details">

                        <p>Baggage Details</p>

                        <p class="small" style="cursor: pointer;">(Click Here)</p>

                        <div id="Baggage_Details" class="Baggage_More_Details collapse">
                            <table class="table table-bordered c-passenger-table" style="font-weight:normal;background-color:white;color:#474747;">
                                <tbody>

                                    @foreach (var Bag in (string[])Session["BagDetails"])
                                    {
                                        <tr>
                                            <td class="small" style="text-align:left; color: white; background: rgb(94, 175, 212);">@Bag</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>


                    <div class="IMportant">

                        <p>Important Information</p>

                        <p class="small" style="cursor: pointer;"></p>

                        <div id="IMportant" class="IMportant_More">
                            <table class="table table-bordered c-passenger-table" style="font-weight:normal;background-color:white;color:#474747;">
                                <tbody>
                                    <tr>
                                        <td class="small" style="text-align:left; color: white; background: rgb(94, 175, 212);">Click to See Fare Rules For Airline</td>
                                    </tr>
                                    <tr>
                                        <td class="small" style="text-align:left; color: white; background: rgb(94, 175, 212);">Click to See Booking Rules &amp; Restriction </td>
                                    </tr>
                                    <tr>
                                        <td class="small" style="text-align:left; color: white; background: rgb(94, 175, 212);">Click to See Conditions for Payments &amp; Security </td>
                                    </tr>
                                    <tr>
                                        <td class="small" style="text-align:left; color: white; background: rgb(94, 175, 212);">Free Cancellation with in 24 Hours</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>




            </div>
        </div>


        <div class="col-md-8" style="padding:0 10px 0px 20px;">
            <form method="post" action="/Index/PayNow">
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Contact Info</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />
                    <p class="NormalText">Phone Number is required (example +001-312-3339706)</p>

                    <div class="col-md-4">
                        <label>Device Type</label>
                        <select name="DeviceType" class="form-control">
                            <option value="">Select Device</option>
                            <option>Cell</option>
                            <option>Home Phone</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Country Code</label>
                        <select name="CountryCode" class="form-control">
                            <option value="">Select Country</option>
                            <option>850-Korea, democratic peoples republic of</option>
                            <option>1-United states</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Phone Number</label>
                        <input type="text" placeholder="123-123-1234 or 010-1234-1234" class="form-control" name="PhoneNumber" />
                        <span id="errorPhoneNumber" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Email Address</label>
                        <input type="email" placeholder="Email" class="form-control" name="EmailAddress" />
                        <span id="errorEmailAddress" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Confirm Email Address</label>
                        <input type="email" placeholder="Confrim-Email" class="form-control" name="Email2" />
                        <span id="errorEmail2" class="errorText"></span>
                    </div>
                </div>

                @{
                    List<string[]> List = new List<string[]>();
                    if (Session["Traveller"] != null)
                    {
                        List = (List<string[]>)Session["Traveller"];
                    }

                    int Number = 1;
                }

                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Traveller Details</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />


                    @for (int i = 0; i < List.Count; i++)
                    {
                        // List[i][1]

                        for (int j = 0; j < Convert.ToInt32(List[i][0]); j++)
                        {
                            <div class="col-md-2">
                                <label>@(List[i][1].ToString() == "ADT" ? "Adult" : "Child") # @(Number)</label>
                                <select name="TrvTitle" class="form-control">
                                    <option selected>Mr</option>
                                    <option>Miss</option>
                                </select>
                            </div>
                            <input type="hidden" name="TrvType" value="@(List[i][1].ToString())" />
                            <div class="col-md-4">
                                <label>First Name &amp; MIddle Name</label>
                                <input type="text" placeholder="First Name" class="form-control" name="TrvFName" />
                                <span id="errorTrvFName" class="errorText"></span>
                            </div>

                            <div class="col-md-3">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last Name" class="form-control" name="TrvLName" />
                                <span id="errorTrvLName" class="errorText"></span>
                            </div>

                            <div class="col-md-2">
                                <label>Date Of Birth</label>
                                <input type="text" placeholder="mm/dd/yyyy" id="DateofB" class="form-control" name="TrvDOB" />
                                <span id="errorTrvDOB" class="errorText"></span>
                            </div>

                            <div class="col-md-4">
                                <label>Frequent Flyer Number</label>
                                <input type="text" placeholder="Frequent Flyer Number" class="form-control" name="FrequentFlyer" />
                                <span id="errorFrequentFlyer" class="errorText"></span>
                            </div>

                            <div class="col-md-3">
                                <label>Airline</label>
                                <input type="text" placeholder="Airline" class="form-control" name="Airline" />
                                <span id="errorAirline" class="errorText"></span>
                            </div>

                            <div class="col-md-12">
                            </div>

                            Number++;

                        }
                    }

                </div>
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Payment Details</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />

                    <div class="col-md-4">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" name="BillFName" />
                        <span id="errorBillFName" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Middle Name</label>
                        <input type="text" placeholder="Middle Name" class="form-control" name="BillMName" />
                        <span id="errorBillMName" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" name="BillLName" />
                        <span id="errorBillLName" class="errorText"></span>
                    </div>

                    <div class="col-md-8">
                        <label>Street/House</label>
                        <input type="text" placeholder="Billing Address" class="form-control" name="BillAddress" />
                        <span id="errorAddress" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>City</label>
                        <input type="text" placeholder="City" class="form-control" name="City" />
                        <span id="errorCity" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>States/Prov</label>
                        <input type="text" placeholder="Airline" class="form-control" name="State" />
                        <span id="errorState" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>Country Code</label>
                        <select id="Country" name="Country" class="form-control">
                            <option value="">Select Country</option>
                            <option>850-Korea, democratic peoples republic of</option>
                            <option>1-United states</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Zip/Postal Code</label>
                        <input type="text" placeholder="Zip/Postal Code" class="form-control" name="ZipCode" />
                        <span id="errorZipCode" class="errorText"></span>
                    </div>

                </div>

                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Credit(Debit) Card Info</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />

                    <div class="col-md-4">
                        <label>Card Type</label>
                        <select id="CardType" name="CardType" class="form-control">
                            <option value="VI">Visa</option>
                            <option value="CA">Master Card</option>
                            <option value="AX">American Express</option>
                            <option value="DS">Discover</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Card Number</label>
                        <input type="text" placeholder="Card Number" class="form-control" name="CardNumber" />
                        <span id="errorCardNumber" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>CSV (What is This)</label>
                        <input type="password" placeholder="CSV" class="form-control" name="CSV" />
                        <span id="errorCSV" class="errorText"></span>
                    </div>

                    <div class="col-md-4">
                        <label>Expiration Month</label>
                        <select id="CardExpM" name="CardExpM" class="form-control">
                            <option value="01">January (01)</option>
                            <option value="02">February (02)</option>
                            <option value="03">March (03)</option>
                            <option value="04">April (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">August (08)</option>
                            <option value="09">September (09)</option>
                            <option value="10">October (10)</option>
                            <option value="11">November (11)</option>
                            <option value="12">December (12)</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Expiration Year</label>
                        <select id="CardExpY" name="CardExpY" class="form-control">
                            @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                            {
                                <option>@i</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="button" onclick="history.back();" class="btn btn-primary" value="Go Back" />
                    </div>

                    <div class="col-md-6">
                        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Reserve a Seat(s)" />
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>


<script>


    function Check() {

        $(document).ready(function () {

            var res = true;

            var elem = $("input[type='text']");
            for (var i = 0; i < elem.length; i++) {
                if (!$("input[name=" + elem[i].name + "]").prop("disabled") && elem[i].value == "") {
                    res = false;

                    $("#error" + elem[i].name).html("Please fill in here");


                }
            }


            var elem2 = $(".hasDatepicker");
            for (var i = 0; i < elem2.length; i++) {
                if (!$("#" + elem2[i].id).prop("disabled") && $("#" + elem2[i].id).val() == "") {
                    $("#error" + elem2[i].id).html("Please fill in here");
                    res = false;

                }
            }

        });
    }

    function ActiveButton() {

        $("input[type='text']").blur(function () {
            if (this.value == "") {
                if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#error" + this.name).html("Please fill in here");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                } else {
                    $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    $("#error" + this.id).html("");
                    $("#btnSubmit").attr("Allow", "Access");
                }
            } else {
                $("#error" + this.name).html("");
                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                $("#btnSubmit").attr("Allow", "Access");
            }
        });

        $("input[type='email']").blur(function () {
            if (this.value == "") {
                if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#error" + this.name).html("Please fill in here");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                } else {
                    $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    $("#error" + this.id).html("");
                    $("#btnSubmit").attr("Allow", "Access");
                }
            } else {
                $("#error" + this.name).html("");
                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                $("#btnSubmit").attr("Allow", "Access");

                if ($("input[name=EmailAddress]").val() != $("input[name=Email2]").val()) {

                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#error" + this.name).html("Email Address Not Match");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                }

            }
        });


        $("input[type='Password']").blur(function () {
            if (this.value == "") {
                if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#error" + this.name).html("Please fill in here");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                } else {
                    $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    $("#error" + this.id).html("");
                    $("#btnSubmit").attr("Allow", "Access");
                }
            } else {
                $("#error" + this.name).html("");
                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                $("#btnSubmit").attr("Allow", "Access");
            }
        });


        $(".hasDatepicker").blur(function () {
            if (this.value == "") {
                if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                } else {
                    $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    $("#btnSubmit").attr("Allow", "Access");
                }
            } else {
                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                $("#btnSubmit").attr("Allow", "Access");
            }
        });

        $(".hasDatepicker").change(function () {
            if (this.value == "") {
                if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    $("input[name=" + this.name + "]").css("border-color", "red");
                    $("#error" + this.name).html("Please fill in here");
                    $("#btnSubmit").attr("Allow", "NotAccess");
                } else {
                    $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    $("#btnSubmit").attr("Allow", "Access");
                    $("#error" + this.name).html("");
                }
            } else {
                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                $("#btnSubmit").attr("Allow", "Access");
                $("#error" + this.name).html("");
            }
        });
    }

    ActiveButton();

</script>