
@{
    ViewBag.Title = "ContactInfo";
    Layout = "~/Views/Default.cshtml";
    //var AirRule = (Additional.SabreCommand.SabreCommandLLSRS)Session["WP"];

    //var WPRD = (List<Additional.SabreCommand.SabreCommandLLSRS>)Session["WPRD"];

}

 
<style>
    .btn-primary {
        color: #fff;
        background-color: #0f3e50 !important;
        border-color: #0f3e50 !important;
    }

    .errorText {
        font-size: 12px;
        color: red;
    }

    .col-md-4, .col-md-3, .col-md-2 {
        margin-bottom: 20px;
    }

    hr {
        border-top: 1px solid #ccc4c4;
    }

    label {
        color: #474747;
    }

    .row {
        margin-top: 20px;
    }

    .btn-primary {
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
        width: 100%;
        border-radius: 0px;
        padding: 10px;
        background-color: #0f3e50;
        border-width: 0px;
    }

        .btn-primary:hover {
            background-color: #f72615;
        }

    .Flight_Details {
        padding: 10px;
        background-color: #0f3e50;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .Flight_More_info {
        border-top: 1px solid #fff;
        padding-top: 20px;
        text-align: left;
    }

    .Fare_Info {
        margin-top: 20px;
        padding: 10px;
        background-color: #0f3e50;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .Baggage_Details {
        margin-top: 20px;
        padding: 10px;
        background-color: #0f3e50;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .IMportant {
        margin-top: 20px;
        padding: 10px;
        background-color: #0f3e50;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
</style>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4" id="SideBarFlightDetails">
            <div class="row">
                <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Review Your Selection and Price</h2>
                <hr style="margin-top: 9px;margin-bottom: 10px;" />

                <div id="loadingdivs" style="">
                    <div style="height: 95%;width: 95%;top: 10px;background-color:  #fff;bottom:  10px; z-index:100; opacity:0.6;  ">
                    </div>
                    <div class="loader" style="margin:0 auto;top: 30%;right: 40%;left: 42%;z-index: 110;"></div>
                    <div style="margin:25px auto;top: 65%;right: 36%;left: 36%;z-index: 110;text-align:center;color:#1c6784;">
                        <label>Please Wait...</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-8" style="padding:0 10px 0px 20px;">
            <form method="post" id="contactfrm" action="">
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Contact Info</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />
                    <p class="NormalText">Phone Number is required (example +001-312-3339706)</p>
                    <div class="col-md-4">
                        <label>Device Type</label>
                        <select name="DeviceType" class="form-control">
                            <option selected>Cell</option>
                            <option>Home Phone</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Country Code</label>
                        <select name="CountryCode" id="countrycode" class="form-control">
                            <option value="US">1-United states</option>
                            <option value="KO">82-Korea (South)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Phone Number</label>
                        <input type="text" placeholder="123-123-1234 or 010-1234-1234" class="form-control" id="phonenumber" name="PhoneNumber" />
                        <span id="errorPhoneNumber" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Email Address</label>
                        <input type="email" placeholder="Email" class="form-control" name="EmailAddress" />
                        <span id="errorEmailAddress" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Confirm Email Address</label>
                        <input type="email" placeholder="Confrim-Email" class="form-control" name="Email2" />
                        <span id="errorEmail2" class="errorText"></span>
                    </div>
                </div>
                @{
                    List<string[]> List = new List<string[]>();
                    if (Session["Traveller"] != null)
                    {
                        List = (List<string[]>)Session["Traveller"];
                    }

                    int Number = 1;
                }
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Traveller Details</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />

                    @for (int i = 0; i < List.Count; i++)
                    {
                        // List[i][1]

                        for (int j = 0; j < Convert.ToInt32(List[i][0]); j++)
                        {
                            <div class="col-md-2">
                                <label>@(List[i][1].ToString() == "ADT" ? "Adult" : "Child") # @(Number)</label>
                                <select name="TrvTitle" class="form-control">
                                    <option value="@(List[i][1].ToString() == "ADT" ? "ADT-Mr" : "CNN-Mr")" selected>Mr</option>
                                    <option value="@(List[i][1].ToString() == "ADT" ? "Miss-Miss" : "CNN-Miss")">Miss</option>
                                </select>
                            </div>
                            <input type="hidden" name="TrvType" value="@(List[i][1].ToString())" />
                            <div class="col-md-3">
                                <label>First Name</label>
                                <input type="text" placeholder="First Name" class="form-control id" id="TrvFName-@(Number)" name="TrvFName" />
                                <span id="errorTrvFName-@(Number)" class="errorText"></span>
                            </div>

                            <div class="col-md-3">
                                <label>Middle Name</label>
                                <input type="text" placeholder="Middle Name" class="form-control id" id="TrvMName-@(Number)" name="TrvMName" />
                                <span id="errorTrvMName-@(Number)" class="errorText"></span>
                            </div>

                            <div class="col-md-2">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last Name" class="form-control" name="TrvLName" />
                                <span id="errorTrvLName@(Number)" class="errorText"></span>
                            </div>

                            <div class="col-md-2">
                                <label>Date Of Birth</label>
                                <input type="text" placeholder="mm/dd/yyyy" class="form-control DBCalen@(Number)" name="TrvDOB" />
                                <span id="errorTrvDOB@(Number)" class="errorText"></span>
                            </div>

                            @*<div class="col-md-4">
                                    <label>Frequent Flyer Number</label>
                                    <input type="text" placeholder="Frequent Flyer Number" class="form-control" name="FrequentFlyer" />
                                    <span id="errorFrequentFlyer" class="errorText"></span>
                                </div>

                                <div class="col-md-3">
                                    <label>Airline</label>
                                    <input type="text" placeholder="Airline" class="form-control" name="Airline" />
                                    <span id="errorAirline" class="errorText"></span>
                                </div>*@

                            <div class="col-md-12">
                            </div>

                            <script>

                                $(function () {

                                    var dateFormat = "mm/dd/yy",
                                        from = $(".DBCalen@(Number)")
                                        .datepicker({
                                            changeMonth: true,
                                            changeYear: true,
                                            yearRange: '-80:+0'

                                        })
                                });

                            </script>


                            Number++;

                        }
                    }
                </div>
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Payment Details</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />
                    <div class="col-md-4">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" name="BillFName" />
                        <span id="errorBillFName" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Middle Name</label>
                        <input type="text" placeholder="Middle Name" class="form-control" name="BillMName" />
                        <span id="errorBillMName" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" name="BillLName" />
                        <span id="errorBillLName" class="errorText"></span>
                    </div>
                    <div class="col-md-8">
                        <label>Street/House</label>
                        <input type="text" placeholder="Billing Address" class="form-control" name="BillAddress" />
                        <span id="errorAddress" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>City</label>
                        <input type="text" placeholder="City" class="form-control" name="City" />
                        <span id="errorCity" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>States/Prov</label>
                        <input type="text" placeholder="State/Prov" class="form-control" name="State" />
                        <span id="errorState" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Country Code</label>
                        <select id="Country" name="Country" class="form-control">
                            <option>1-United states</option>
                            <option>82-Korea (South)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Zip/Postal Code</label>
                        <input type="text" placeholder="Zip/Postal Code" class="form-control" name="ZipCode" />
                        <span id="errorZipCode" class="errorText"></span>
                    </div>
                </div>
                <div class="row">
                    <h2 style="font-size: 22px !important;line-height: 26px;font-weight:bold;">Credit(Debit) Card Info</h2>
                    <hr style="margin-top: 9px;margin-bottom: 10px;" />
                    <div class="col-md-4">
                        <label>Card Type</label>
                        <select id="CardType" name="CardType" class="form-control">
                            <option value="VI">Visa</option>
                            <option value="CA">Master Card</option>
                            <option value="AX">American Express</option>
                            <option value="DS">Discover</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Card Number</label>
                        <span id="errorCardNumber" class="errorText"></span>
                        <input type="text" placeholder="Card Number" data-inputmask="'mask': '9999 999999 99999'" class="form-control" name="CardNumber" id="cardnumber" />
                    </div>
                    <div class="col-md-4">
                        <label>CSV <a href="#" class="icon" style="font-size:12px;"><i class="fas fa-info-circle"></i></a><span class="iconimage"><img src="~/Images/VisaMastercardCVV.png"></span></label>
                        <input type="password" maxlength="3" placeholder="CSV" class="form-control" name="CSV" />
                        <span id="errorCSV" class="errorText"></span>
                    </div>
                    <div class="col-md-4">
                        <label>Expiration Month</label>
                        <select id="CardExpM" name="CardExpM" class="form-control">
                            <option value="01">January (01)</option>
                            <option value="02">February (02)</option>
                            <option value="03">March (03)</option>
                            <option value="04">April (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">August (08)</option>
                            <option value="09">September (09)</option>
                            <option value="10">October (10)</option>
                            <option value="11">November (11)</option>
                            <option value="12">December (12)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Expiration Year</label>
                        <select id="CardExpY" name="CardExpY" class="form-control">
                            @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                            {
                                <option>@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="button" onclick="history.back();" class="btn btn-primary" value="Go Back" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="btnSubmit" class="btn btn-primary" value="Buy Ticket Now" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    .heading {
        color: red !important;
        font-weight: bold;
        margin: 20px 0px 5px 0px;
        font-size: 15px;
    }

    #myModal p {
        color: rgb(0,128,128);
        text-align: justify;
    }
</style>


<div class="row" style="position: fixed; top: 30%; left: 40%;">
    <div class="dialogue-box" id="divques" style="display: none;">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div id="AlertMsg" class="tdialogue-box-text" style="text-align: center; font-weight: bold; margin-bottom: 20px;">
            </div>
            <input class="btn btn-default BtnConf2" style="float:right" type="button" value="OK" id="btnCyes" />
            @*<input class="btn btn-danger BtnConf2" type="button" value="No" id="btnCNo" />*@
             
        </div>
    </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold;color:red;font-size:25px;text-align:center;">
                    Payment &amp; Security Conditions
                </h5>
            </div>
            <div class="modal-body">
                <p>We assure you that your payment can be securely made in accordance with the international standards of online payment.</p>
                <p>Your credit card number is entered on a secure page hosted by our bank and therefore external to our site. No credit card number is recorded, or even visible during the payment on our site. We have no access to your payment information.</p>
                <p class="heading">Secure Sockets Layer (SSL Technology)</p>
                <p>Koreaonly.com uses Secure Sockets Layer (SSL) technology to provide you with the safest, most secure shopping experience possible. SSL technology enables encryption of sensitive information during your online transactions. All of the forms on our site are secured with SSL technology so your personal information stays safe and out of malicious hands.</p>
                <p class="heading">Credit Card</p>
                <p>Payment will be deducted from your account using the US Dollar (USD) ($) as currency. It is very important that you understand that once you’ve decided to select this payment method,your account will be debited in USD, regardless of the currency you were using when browsing Koreaonly.com and when you place your order with us. </p>
                <img src="~/Images/visa-verify-img.png" title="Visa Verifed" width="200" height="100" />
                <img src="~/Images/mastercard-verify-img.png" title="Master Card Verifed" width="200" height="100" />
                <br />
                <p class="heading">Security Policy</p>
                <p>We would like to assure you that your personal information is our top priority. We will never share any of your private data with other vendors or outside parties for any reason. Your Credit Card information, Personal Data and/or Order Information is processed and protected by our payment processors.</p>
                <p>See our Privacy <a href="/Index/privacy_policy" style="color:red;">Policy page</a> for more information.</p>
            </div>
        </div>
    </div>
</div>

<div id="overlay32">
    <div id="text32">Please Wait...</div>

</div>

<style>
    #overlay32 {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    #text32 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>


@section scripts{

<script>
    $(".BtnConf2").click(function () {
        $("#cont").removeClass("overlay2");
        $("#divques").hide();
    });

                $(document).ready(function () {

                    $.ajax({
                        type: "GET",
                        url: "/Index/CheckAirlineParms",
                        success: function (response) {

                            if (response != "")
                                $("#SideBarFlightDetails").html(response);
                            else {
                                $.ajax({
                                    type: "GET",
                                    url: "/Index/CheckAirlineParms",
                                    success: function (response) {
                                        $("#SideBarFlightDetails").html(response);
                                    }

                                });
                            }
                        }

                    });

                    $("#btnSubmit").click(function () {

                        $("#overlay32").show();

                        var FrmData = $("#contactfrm").serialize();

                        //

                        if ($("#btnSubmit").attr("Confirm") == "1") {

                            $.ajax({
                                type: "POST",
                                url: "/Index/CheckPayment",
                                data: FrmData,
                                success: function (response) {

                                    $("#overlay32").hide();
                                    //CheckPayment
                                    if (response != "") {

                                        var obj = (response);

                                        if (obj.Code == "200") {
                                            $("#divques").fadeOut();
                                            window.location.href = "/index/Tickets";
                                        } else {
                                            $("#errorCardNumber").html("INCORRECT CARD NUMBER");
                                            $("#cardnumber").val();
                                            $("#AlertMsg").html(obj.Message);
                                            $("#AlertMsg").css("color", "red");
                                            $("#divques").fadeIn();
                                        }
                                    } else {
                                        window.location.href = "/";
                                    }

                                }
                            });

                        } else {

                            $.ajax({
                                type: "POST",
                                url: "/Index/PayNow",
                                data: FrmData,
                                success: function (response) {

                                    $("#overlay32").hide();
                                    //
                                    if (response != "") {

                                        var obj = $.parseJSON(response);

                                        if (obj.Code == "200") {

                                            $("#btnSubmit").attr("Confirm", "1");

                                            $.ajax({
                                                type: "POST",
                                                url: "/Index/CheckPayment",
                                                data: FrmData,
                                                success: function (response) {

                                                    $("#overlay32").hide();
                                                    //CheckPayment
                                                    if (response != "") {

                                                        var obj = (response);

                                                        if (obj.Code == "200") {
                                                            $("#divques").fadeOut();
                                                            window.location.href = "/index/Tickets";
                                                        } else {
                                                            $("#cardnumber").val();
                                                            $("#errorCardNumber").html("INCORRECT CARD NUMBER");
                                                            $("#AlertMsg").html(obj.Message);
                                                            $("#AlertMsg").css("color", "red");
                                                            $("#divques").fadeIn();
                                                        }
                                                    } else {
                                                        window.location.href = "/";
                                                    }

                                                }
                                            });

                                        } else {
                                            //$("#errorCardNumber").html("INCORRECT CARD NUMBER");
                                            $("#AlertMsg").html(obj.Message);
                                            $("#AlertMsg").css("color", "red");
                                            $("#divques").fadeIn();
                                        }
                                    } else {
                                        window.location.href = "/";
                                    }

                                }
                            });
                        }

                    });
                    $("#cardnumber").mask("9999-9999-9999-9999");
                    $("#phonenumber").mask("999-999-9999");

                    $('#CardType').change(function () {
                        var $selected = $(this).find('option:selected');
                        if ($selected.val() === 'AX') {
                            $("#cardnumber").mask("9999-999999-99999");
                        } else {
                            $("#cardnumber").mask("9999-9999-9999-9999");
                        }
                    });


                    $('#countrycode').change(function () {
                        var $selected = $(this).find('option:selected');
                        if ($selected.val() === 'US') {
                            $("#phonenumber").mask("999-999-9999");
                        } else {
                            $("#phonenumber").mask("99-9999-9999");
                        }
                    });




                });

                function Check() {

                    $(document).ready(function () {

                        var res = true;

                        var elem = $("input[type='text']");
                        for (var i = 0; i < elem.length; i++) {

                            if (!($("input[name=" + elem[i].name + "]").id.indexOf("-")) >= 0) {

                                if (!$("input[name=" + elem[i].name + "]").prop("disabled") && elem[i].value == "") {
                                    res = false;

                                    $("#error" + elem[i].name).html("Please fill in here");
                                }
                            }
                        }

                        for (var i = 0; i < elem.length; i++) {

                            if (($("input[name=" + elem[i].name + "]").id.indexOf("-")) >= 0) {
                                if (!$("input[id=" + elem[i].id + "]").prop("disabled") && elem[i].value == "") {
                                    res = false;

                                    $("#error" + elem[i].id).html("Please fill in here");

                                }
                            }
                        }


                        var elem2 = $(".hasDatepicker");
                        for (var i = 0; i < elem2.length; i++) {
                            if (!$("#" + elem2[i].id).prop("disabled") && $("#" + elem2[i].id).val() == "") {
                                $("#error" + elem2[i].id).html("Please fill in here");
                                res = false;

                            }
                        }

                    });
                }

                function ActiveButton() {

                    $("input[type='text']").blur(function () {
                        if (this.value == "") {
                            if (!$("input[name=" + this.name + "]").prop("disabled")) {
                                $("input[name=" + this.name + "]").css("border-color", "red");
                                $("#error" + this.name).html("Please fill in here");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            } else {
                                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                                $("#error" + this.id).html("");
                                $("#btnSubmit").attr("Allow", "Access");
                            }
                        } else {
                            $("#error" + this.name).html("");
                            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                            $("#btnSubmit").attr("Allow", "Access");
                        }
                    });

                    $("input[type='email']").blur(function () {
                        if (this.value == "") {
                            if (!$("input[name=" + this.name + "]").prop("disabled")) {
                                $("input[name=" + this.name + "]").css("border-color", "red");
                                $("#error" + this.name).html("Please fill in here");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            } else {
                                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                                $("#error" + this.id).html("");
                                $("#btnSubmit").attr("Allow", "Access");
                            }
                        } else {

                            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                            $("#error" + this.name).html("");

                            $("#errorEmailAddress").html("");
                            $("input[name=EmailAddress]").css("border-color", "#ccc");
                            $("#btnSubmit").attr("Allow", "Access");

                            if ($("input[name=EmailAddress]").val() != $("input[name=Email2]").val()) {

                                $("input[name=EmailAddress]").css("border-color", "red");
                                $("#errorEmailAddress").html("Email Address Not Match");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            }

                        }
                    });





                    $("input[type='Password']").blur(function () {
                        if (this.value == "") {
                            if (!$("input[name=" + this.name + "]").prop("disabled")) {
                                $("input[name=" + this.name + "]").css("border-color", "red");
                                $("#error" + this.name).html("Please fill in here");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            } else {
                                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                                $("#error" + this.id).html("");
                                $("#btnSubmit").attr("Allow", "Access");
                            }
                        } else {
                            $("#error" + this.name).html("");
                            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                            $("#btnSubmit").attr("Allow", "Access");
                        }
                    });


                    $(".hasDatepicker").blur(function () {
                        if (this.value == "") {
                            if (!$("input[name=" + this.name + "]").prop("disabled")) {
                                $("input[name=" + this.name + "]").css("border-color", "red");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            } else {
                                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                                $("#btnSubmit").attr("Allow", "Access");
                            }
                        } else {
                            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                            $("#btnSubmit").attr("Allow", "Access");
                        }
                    });

                    $(".hasDatepicker").change(function () {
                        if (this.value == "") {
                            if (!$("input[name=" + this.name + "]").prop("disabled")) {
                                $("input[name=" + this.name + "]").css("border-color", "red");
                                $("#btnSubmit").attr("Allow", "NotAccess");
                            } else {
                                $("input[name=" + this.name + "]").css("border-color", "#ccc");
                                $("#btnSubmit").attr("Allow", "Access");
                            }
                        } else {
                            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                            $("#btnSubmit").attr("Allow", "Access");
                        }
                    });

                    //$(".hasDatepicker").change(function () {
                    //    if (this.value == "") {
                    //        if (!$("input[name=" + this.name + "]").prop("disabled")) {
                    //            $("input[name=" + this.name + "]").css("border-color", "red");
                    //            $("#error" + this.name).html("Please fill in here");
                    //            $("#btnSubmit").attr("Allow", "NotAccess");
                    //        } else {
                    //            $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    //            $("#btnSubmit").attr("Allow", "Access");
                    //            $("#error" + this.name).html("");
                    //        }
                    //    } else {
                    //        $("input[name=" + this.name + "]").css("border-color", "#ccc");
                    //        $("#btnSubmit").attr("Allow", "Access");
                    //        $("#error" + this.name).html("");
                    //    }
                    //});
                }

                ActiveButton();

</script>
}
@section sc2{}